.clr{
  clear: both;
}

.label{
  width: 30px;
  height: 30px;
  padding: 10px, 10px;
  margin: 1px;
  text-align: center;
  line-height: 30px;
  float: left;
}

.peg{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
  justify-content: center;
}

.cell{
  width: 30px;
  height: 30px;
  padding: 10px, 10px;
  justify-content: center;
  margin: 1px;
  border: grey solid 1px;
  float: left;
  background-color: transparent;
}

.board{
  margin-top: 20px;
  margin-left: 20px;
}
