.clr{
  clear: both;
}

.horizontal-label{
  width: 30px;
  height: 30px;
  padding: 2px;
  margin: 1px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

.vertical-label{
  width: 30px;
  height: 30px;
  padding: 2px;
  margin: 2px;
  text-align: center;
  line-height: 30px;
}

.horizontal-layout{
  display: flex;
}

.redPeg{
  width: 20px;
  height: 20px;
  padding: 1px;
  justify-content: center;
  margin: 6px;
  text-align: center;
  line-height: 30px;
  border: black solid 1px;
  float: left;
  background-color: red;
  border-radius: 15px;
}

.whitePeg{
  width: 20px;
  height: 20px;
  padding: 1px;
  justify-content: center;
  margin: 6px;
  text-align: center;
  line-height: 30px;
  border: black solid 1px;
  float: left;
  background-color: white;
  border-radius: 15px;
}

.emptyCell{
  width: 30px;
  height: 30px;
  padding: 1px;
  justify-content: center;
  margin: 1px;
  text-align: center;
  line-height: 30px;
  border: grey solid 1px;
  float: left;
  background-color: transparent;
}

.ship{
  width: 30px;
  height: 30px;
  padding: 1px;
  justify-content: center;
  margin: 1px;
  text-align: center;
  line-height: 30px;
  border: black solid 1px;
  float: left;
  background-color: grey;
}
