.clr{
  clear: both;
}

.horizontal-label{
  width: 30px;
  height: 30px;
  margin: 1px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

.vertical-label{
  width: 30px;
  height: 30px;
  padding: 1px;
  margin: 1px;
  text-align: center;
  line-height: 30px;
}

.horizontal-layout{
  display: flex;
}

.peg{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
  justify-content: center;
}

.cell{
  width: 30px;
  height: 30px;
  padding: 1px;
  justify-content: center;
  margin: 1px;
  text-align: center;
  line-height: 30px;
  border: grey solid 1px;
  float: left;
  background-color: transparent;
}

.ship{
  margin: 0px;
}
